/* Melodex/melodex-front-end/src/index.css */
body {
  margin: 0;
}

.profile-bubble {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}